@import "./../../../scss/typography-styles";
@import "./../../../scss/color-styles";
@import "./../../../scss/default-styles";

.container-404page {
    @include flex-c_s;
}

.info-404page {
    padding: 55px
}

.text-404 {
    @include font-default;
    font-size: 90px;
    font-weight: 900;
    margin-bottom: 40px;
}

.text-404_desc {
    @include title-large;
    margin-bottom: 30px;
    max-width: 400px;
}
