<div class="phone-main-container">
    <div class="phone-container">
        <div class="phone-container_title">
            <span class="material-symbols-outlined phone-title-text_ico">page_info</span>
            <span class="phone-title-text">City</span>
            <span class="material-symbols-outlined phone-title-text_ico" (click)="openPopUp()">search</span>
        </div>
        <div class="phone-container_date"></div>
        <div class="phone-container_info">
            <div class="phone-info-weather">
                <p class="phone-info-temp">29°C</p>
                <img class="phone-info-img" src="./../../../../assets/icoWeather/drizzle.png" alt="">
            </div>
            <div class="phone-info_footer">
                <p class="phone-info_footer-text">3v\x <br> Wind</p>
                <p class="phone-info_footer-text">3v\x <br>Humidity</p>
                <p class="phone-info_footer-text">3v\x <br>Feeling</p>
            </div>
        </div>
        <div class="phone-container_forecast"></div>
    </div>
    <div class="item-info">
        <app-item-info-add></app-item-info-add>
        <app-item-info-slider></app-item-info-slider>
    </div>
</div>