@import "./../../../../scss/typography-styles";
@import "./../../../../scss/default-styles";
@import "./../../../../scss/color-styles";

.phone-main-container {
    top: 90px;
    right: 282px;
    position: absolute;
}

.phone-container {
    @include flex-c_s;
    flex-direction: column;
    bottom: 0;
    width: 210px;
    height: 370px;
}

.item-info {
    position: absolute;
    top: 25px;
    right: -200px;
    transform: rotate(20deg);
}

.phone-container_title {
    height: 30px;
    width: 100%;
}

.phone-container_date {
    height: 25px;
    width: 100%;
}

.phone-container_info {
    width: 85%;
    height: 145px;
    background: linear-gradient(90deg, rgba(2, 201, 251, 1) 0%, rgba(1, 150, 243, 1) 50%, rgba(1, 92, 234, 1) 100%);
    border-radius: 15px;
    padding: 10px;
}

.phone-container_forecast {
    width: 100%;
    height: 150px;
}


.phone-info_footer-text {
    @include title-XXXsmall;
    color: $color-white;
}

.phone-info_footer {
    @include flex-c_s;

}

.phone-info-temp {
    @include title-Xmedium;
    color: $color-white;
}

.phone-info-weather {
    display: flex;
}

.phone-info-img {
    width: 85px;
}

.phone-container_title {
    @include flex-c_s;
    padding: 0 15px;
}

.phone-title-text {
    @include font-default;
}

.phone-title-text_ico {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: $color-font-blue-dark;
    transition: .3s;

    &:hover {
        transform: scale(1.1);
        color: $button-hover;
    }
}