@import "./../../../../scss/typography-styles";
@import "./../../../../scss/default-styles";
@import "./../../../../scss/color-styles";

.phone-main-container {
    top: 90px;
    right: 282px;
    position: absolute;
}

.item-info {
    position: absolute;
    top: 25px;
    right: -170px;
    transform: rotate(20deg);
}

.add-city-phone {
    margin-top: 130px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.city-phone_add {
    cursor: pointer;
    font-size: 64px;
    color: $color-font-blue-dark;
    transition: .4s;

    &:hover {
        transform: scale(1.1);
        color: $button-hover;
    }
}

.city-phone_add-text {
    text-align: center;
    @include title-medium;
}