@import "./../../../../scss/typography-styles";

.git-ico {
    width: 40px;
    transition: .4s;

    &:hover {
        transform: scale(1.05);
    }
}

.footer-container {
    padding: 0 5px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
}

.footer-text {
    @include font-default;
    align-self: center;
    justify-self: center;
}