@import "./../../../../scss/color-styles";
@import "./../../../../scss/default-styles";
@import "./../../../../scss/typography-styles";

.popUp-container {
    @include flex-c_c;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba($color-white, .7);
    top: 0;
    left: 0;
}

.popUp-search-text {
    margin-bottom: 20px;
    @include title-large;
    color: $color-primary-blue;
}

.popUp-search-container {
    background: $color-grey;
    border-radius: 15px;
    padding: 15px;
    position: relative;
}

.close-popUp {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: $color-primary-blue;
    transition: .4s;

    &:hover {
        transform: rotate(180deg);
        color: $button-hover;
    }
}