@import "./../../../../scss/color-styles";
@import "./../../../../scss/typography-styles";
@import "./../../../../scss/default-styles";


.location-container{
    height: 56px;
    @include flex-c_c;
    transition: .3s;
    cursor: pointer;
    width: 35px;
    color: $color-white;

    &:hover {
        background: $button-hover;
    }
}