<div class="phone-container_info">
    <div class="phone-info-weather">
        <div>
            <p class="phone-info-temp">{{item.main.temp | tempPipe | async}}</p>
            <p class="phone-info-desc">{{item.weather[0].description | titlecase}}</p>
        </div>
        <img class="phone-info-img" appWeatherIco [weatherCode]="item.weather[0].id"
            src="./../../../../assets/icoWeather/defaultIco.gif" alt="weatherType">
    </div>
    <ul class="phone-info_footer">
        <li class="phone-info_footer-text">
            <span class="phone-info_footer-text__value">{{item.wind.speed | windPipe | async}}</span>
            Wind
        </li>
        <li class="phone-info_footer-text">
            <span class="phone-info_footer-text__value">{{item.main.humidity}}%</span>
            Humidity
        </li>
        <li class="phone-info_footer-text">
            <span class="phone-info_footer-text__value">{{item.main.feels_like| tempPipe | async}}</span>
            Feeling
        </li>
    </ul>
</div>