@import "./../../../../scss/typography-styles";
@import "./../../../../scss/default-styles";
@import "./../../../../scss/color-styles";

.phone-container_info {
    width: 180px;
    height: 150px;
    background: linear-gradient(90deg, rgba(2, 201, 251, 1) 0%, rgba(1, 150, 243, 1) 50%, rgba(1, 92, 234, 1) 100%);
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
}

.phone-info-weather {
    display: flex;
    margin-bottom: 15px;
}

.phone-info-temp {
    @include title-medium28;
    color: $color-white;
    margin: 10px 0;
}

.phone-info-img {
    width: 85px;
}

.phone-info-desc {
    @include title-Xsmall;
    color: $color-white;
}

.phone-info_footer-text {
    @include title-XXXsmall;
    color: $color-white;
    text-align: center;
    border-right: 1px dashed $color-white;

    &:last-child {
        border: none;
    }
}

.phone-info_footer-text__value {
    font-weight: 900;
}

.phone-info_footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}