@import "./../../../../scss/typography-styles";
@import "./../../../../scss/default-styles";
@import "./../../../../scss/color-styles";

.phone-container {
    width: 210px;
}

.phone-container_general {
    height: 360px;
    @include flex-c_s;
    flex-direction: column;
    padding: 0 10px;
}

.phone-container_title {
    @include flex-c_s;
    height: 30px;
    width: 100%;
}

.phone-title-text {
    @include title-medium;
}

.phone-title-text_ico {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: $color-font-blue-dark;
    transition: .3s;

    &:hover {
        transform: scale(1.1);
        color: $button-hover;
    }
}

.phone-container_date {
    height: 30px;
    width: 170px;
    overflow: hidden;
}

.phone-container_date__visible {
    display: flex;
    gap: 7px;
    align-items: center;
    transition: .3s;
}

.phone-date-item {
    cursor: pointer;
    @include title-XXXsmall;
    padding: 5px;
    font-weight: 700;
    border: 1px solid $grey-text;
    color: $grey-text;
    border-radius: 5px;
    transition: .3s;

    &:hover {
        background: #E6F3FD;
        border: 1px solid $button-hover;
        color: $button-hover;
    }
}

.phone-date-item_active {
    background: #E6F3FD;
    border: 1px solid $button-hover;
    color: $button-hover;
}

.phone-container_forecast {
    width: 200px;
    padding: 0px 15px;
}

.phone-forecast_items-container {
    display: flex;
    overflow-x: auto;
    height: 85px;
    margin-bottom: 15px;
}

.phone-forecast_title {
    @include title-medium;
}

.phone-forecast-item {
    height: 75px;
    width: 65px;
    border-radius: 15px;
    background: $color-white;
}

.test_one {
    width: 60px;
    transform: scale(0.6);
}

.phone-main-sliper {
    margin: 0 auto;
    margin-top: 75px;
}