@import "./../../../../scss/color-styles";
@import "./../../../../scss/default-styles";
@import "./../../../../scss/typography-styles";


.lang-container {
    border: solid 1px $color-font-blue-dark;
    padding: 2px 4px;
    border-radius: 20px;
    @include flex-c_s;
    margin-bottom: 10px;

    &:hover {
        background: linear-gradient(60deg, rgba(253, 235, 187, 1) 0%, rgba(149, 189, 207, 1) 100%);
    }
}

.lang-container_select {
    @include flex-c_c;
    gap: 4px;
}

.lang-container_text {
    @include title-medium;
    color: $color-font-blue-dark;
}

.lang-item {
    cursor: pointer;
    width: 25px;
    height: 25px;
    filter: grayscale(100%);
    transition: .3s;
    border: 1px solid $color-font-blue-dark;
    border-radius: 50%;
    opacity: .8;

    &:hover {
        filter: grayscale(0);
        transform: scale(1.05);
    }
}

.lang-item__active {
    filter: grayscale(0);
    opacity: 1;
}