@import "./../../../../scss/color-styles";


.lang-container {
    display: flex;
    gap: 10px;
}

.lang-item {
    width: 30px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: .3s;
    border: 1px solid $color-font-blue-dark;
    border-radius: 50%;
    opacity: .8;

    &:hover {
        filter: grayscale(0);
        transform: scale(1.05);
    }
}

.lang-item__active {
    filter: grayscale(0);
    opacity: 1;
}