@import "./../../../../scss/color-styles";
@import "./../../../../scss/default-styles";
@import "./../../../../scss/typography-styles";


.units-container {
    border: solid 1px $color-font-blue-dark;
    padding: 2px 4px;
    border-radius: 20px;
    @include flex-c_s;
    gap: 10px;

    &:hover {
        background: linear-gradient(60deg, rgba(253, 235, 187, 1) 0%, rgba(149, 189, 207, 1) 100%);
    }
}

.units-container_text {
    @include title-medium;
    color: $color-font-blue-dark;
}

.units-container_select {
    @include flex-c_c;
    gap: 4px;
}

.unit-item {
    @include flex-c_c;
    @include title-medium;
    width: 25px;
    height: 25px;
    transition: .3s;
    border: 1px solid $color-font-blue-dark;
    border-radius: 50%;
    opacity: .8;
    background: $grey-text;
    cursor: pointer;
    color: $color-grey;
    opacity: 0.7;

    &:hover {
        background: #71960A;
        transform: scale(1.05);
        opacity: 1;
    }
}

.unit-item__active {
    background: #71960A;
    opacity: 1;
}