<div class="item-container-slider">
    <div class="item-slider-header">
        <p class="item-slider-title">{{item.nameCity}}</p>
        <p class="item-slider-rain">Chance of Rain: {{item.chanceRain}}%</p>
    </div>
    <div class="item-slider-content">
        <p class="item-slider-temp">{{item.temp}}°</p>
        <img class="item-slider-img" src={{imgType}} alt="">
    </div>

    <div class="item-slider-footer">
        <app-item-slider-extra-info *ngFor="let item of item.extraInfo" [item]="item">
        </app-item-slider-extra-info>
    </div>

</div>