<div class="item-forecast-container">
    <div>
        <p class="item-forecast-day">{{item.dt | dayWeek | async }}</p>
        <p class="item-forecast-time">{{item.dt | timeFormat | async }}</p>
    </div>
    <img class="item-forecast-img" src="./../../../../assets/icoWeather/defaultIco.gif" appWeatherIco
        [weatherCode]="item.weather[0].id" alt="weatherIco">
    <p class="item-forecast-day">{{item.main.temp_max | tempPipe | async}}</p>
    <div *ngIf="isOpen" class="material-symbols-outlined item-more-info" (click)="openPopUp()">page_info</div>
</div>