@import "./../../../../scss/typography-styles";
@import "./../../../../scss/color-styles";
@import "./../../../../scss/default-styles";

.item-info-container {
    position: absolute;
    background: #FFFFFF;
    width: 85px;
    height: 110px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    opacity: .9;
    border-top: 1px solid $grey-text;

    &:hover {
        transform: rotate(-20deg) !important;
        opacity: 1;
        z-index: 1111;
        border: 1px solid $grey-text;
    }
}

.item-info-active {
    padding: 5px;
    @include flex-c_s;
    flex-direction: column;
}

.title-item-info {
    color: $color-font-blue-dark;
    @include title-medium;
    font-weight: 700;
    background: linear-gradient(90deg, #FFFFFF 54%, rgba(255, 216, 118, .7) 100%);
    border-radius: 5px;
}

.item-info-img {
    width: 55px;
}

.item-info-text {
    @include title-medium28;
    background: linear-gradient(180deg, $color-font-blue-dark 40%, rgba(233, 241, 242, 0.2) 75%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spinner-info_item-slider {
    width: 65px !important;
}