<div class="infoPage-item-container" *transloco="let t; read: 'pageInfo'">
    <p class="infoPage-item-title">{{ t('sunriseTitle')}}</p>
    <div class="uv-round-container">
        <div class="uv-round"></div>
        <div class="uv-round-background"></div>
        <p class="uv-round_value__3">3</p>
        <p class="uv-round_value__6">6</p>
        <p class="uv-round_value__9">9</p>
        <p class="uv-round_value__12">12</p>
        <div class="uv-direction-text">5
            <div class="uv-array"></div>
        </div>
    </div>
    <div class="text-uv">Нормальный уровень</div>

</div>