<div class="info-general-container">

    <img class="weather-ico" appWeatherIco [weatherCode]="info.weather[0].id"
        src="./../../../../assets/icoWeather/defaultIco.gif" alt="weatherType">

    <p class="genetal-temp-text">{{info.main.temp | tempPipe | async}}</p>
    <p class="general-day-text">{{info.dt | dayWeek | async}},
        <span class="general-time-text">{{time}}</span>
    </p>

    <div>
        <p class="general-weather-description">{{info.weather[0].description | titlecase}}</p>
        <p class="general-weather-description">{{info.rain | rainPipe | async}}</p>
    </div>

    <div class="name-city-container">{{info.name}}</div>


</div>