@import "./../../../../scss/color-styles";
@import "./../../../../scss/typography-styles";
@import "./../../../../scss/default-styles";



.info-general-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}

.weather-ico {
    width: 180px;
}

.genetal-temp-text {
    @include title-Xlarge;
    font-weight: 400;
}

.general-day-text {
    @include title-large;
    font-weight: 400;
    border-bottom: 1px solid $grey-text;
    padding-bottom: 20px;
}

.general-time-text {
    color: $grey-text;
}

.name-city-container {
    @include title-large;
    @include flex-c_c;
    border-radius: 15px;
    height: 80px;
    background: url(./../../../../assets/infoPage/cityBackground.png);
    background-size: cover;
    color: $color-white;
}

.general-weather-description {
    @include title-medium18;
    margin-bottom: 7px;
}


@media screen and (max-width: 950px) {
    .weather-ico {
        position: absolute;
        right: 15px;
    }
}

@media screen and (max-width: 350px) {
    .weather-ico {
        position: relative;
        right: auto;
    }
}