<mat-spinner class="spinner-info" *ngIf="loading ; else elseLoading"></mat-spinner>
<ng-template #elseLoading>
    <div *transloco="let t; read: 'pageInfo'">
        <div *ngIf="weatherCity; else elseBlock" class="pageInfo-container">
            <div class="pageInfo-general">
                <app-info-general [info]="weatherCity"></app-info-general>
            </div>
            <div>
                <p class="five-day-forecast-title">{{ t('fiveTitle')}}</p>
                <app-five-day-forecast></app-five-day-forecast>
            </div>
            <div class="highLights-container">
                <p class="highLights-container_title">{{ t('todayTitle')}}</p>
                <div class="highLights-container_info">
                    <app-uv-index></app-uv-index>
                    <app-sunrise [value]="weatherCity.sys"></app-sunrise>
                    <app-humidity [value]="weatherCity.main.humidity"></app-humidity>
                    <app-wind [value]="weatherCity.wind"></app-wind>
                    <app-visibility [value]="weatherCity.visibility"></app-visibility>
                    <app-pressure [value]="weatherCity.main.grnd_level"></app-pressure>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="notFound-city">
                <span class="notFound-city_text">{{ t('city')}} "{{city}}" {{ t('notFound')}}</span>
                <app-return-main></app-return-main>
            </div>
        </ng-template>
    </div>
</ng-template>