@import "./../../../scss/typography-styles";

.pageInfo-container {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: repeat(2, min-content);
    margin: 0 auto;
    width: min-content;
    column-gap: 80px;
    row-gap: 15px;
}

.notFound-city {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 25px;
}

.notFound-city_text {
    @include title-large;
}

.spinner-info {
    margin: 0 auto;
}

.highLights-container_info {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, min-content);
    gap: 15px;
    justify-content: center;
}

.pageInfo-general {
    grid-row-start: 1;
    grid-row-end: 3;
}

.five-day-container {
    justify-self: center;
}

.highLights-container_title {
    @include title-large;
    margin-bottom: 10px;
}

.five-day-forecast-title {
    @include title-medium18;
    margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {
    .pageInfo-container {
        column-gap: 3%;
    }
}

@media screen and (max-width: 950px) {
    .pageInfo-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        margin: 0 auto;
        width: min-content;
        column-gap: 0px;
        row-gap: 15px;
    }
}

@media screen and (max-width: 700px) {

    .highLights-container_info {
        grid-template-columns: repeat(2, min-content);
        grid-template-rows: repeat(3, min-content);
        gap: 3%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 450px) {

    .highLights-container_info {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, min-content);
        gap: 1%;
        margin-bottom: 45px;
        justify-items: center;
    }
}

