@import "./../../../scss/typography-styles";

.pageInfo-container {

    display: flex;
    justify-content: space-between;
    padding: 0 5%;

}

.notFound-city {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 25px;
}

.notFound-city_text {
    @include title-large;
}

.spinner-info {
    margin: 0 auto;
}

.highLights-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5%;
}