@import "./../../../../scss/default-styles";
@import "./../../../../scss/typography-styles";
@import "./../../../../scss/color-styles";

.header-container {
    padding: 5px 10px;
    @include flex-c_s;
}

.logo-img {
    width: 35px;
}

.logo-container {
    @include flex-c_c;
    @include title-large;
    color: $color-font-blue-dark;
    cursor: pointer;
    gap: 5px;
    transition: .4s;
    opacity: .8;

    &:hover {
        opacity: 1;
    }
}

.setting-header {
    position: relative;
    cursor: pointer;

    &:hover .header-setting-text {
        opacity: 1;
        transform: translateX(-50px)
    }

    &:hover .setting-icon {
        transform: rotate(180deg);
        color: $button-hover;
    }
}

.header-setting-text {
    @include title-medium;
    position: absolute;
    opacity: 0;
    bottom: 12px;
    transition: .3s;
}

.setting-icon {
    font-size: 30px;
    transition: .3s;
    color: $color-font-blue-dark;
}