<form [formGroup]="cityForm" (ngSubmit)="onSubmit()" *transloco="let t; read: 'searchCity'">
    <mat-form-field appearance="fill" class="">
        <mat-label>{{ t('placeholder') }}</mat-label>
        <input type="text" formControlName="location" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of searchCity$ | async" [value]="option">
                <span class="">{{option}} </span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div *ngIf="_location?.invalid && (_location?.touched || _location?.dirty)">
        <span class="error-text" *ngIf="_location?.errors?.required">{{ t('error') }}</span>
    </div>
    <button>{{ t('buttonMain') }}</button>
</form>