<form [formGroup]="cityForm">
  <mat-form-field appearance="fill" class="input-select-place">
      <mat-label>2343324</mat-label>
      <input type="text" formControlName="location" matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
              <span class="name-city">{{option}} </span>
              <span class="name-city IATA-code">{{option}}</span>
          </mat-option>
      </mat-autocomplete>
  </mat-form-field>
  <!-- <div *ngIf="_location?.invalid && (_location?.touched || _location?.dirty)">
      <span class="error-text" *ngIf="_location?.errors?.required">Field From is required</span>
  </div> -->
</form>