@import "./../../../scss/color-styles";

.main-container {
    position: relative;
    height: 630px;
    max-width: 1400px;
    width: 90vw;
    border-radius: 20px;
    background: rgba($color: #EFEFEE, $alpha: 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.slider-container {
    overflow: hidden;
    top: 70px;
    right: 90px;
    height: 560px;
    position: absolute;

}


.img-main {
    width: 450px;
}

.main-decoration {
    position: absolute;
    top: 55%;
    right: 45%;
}

.main-decoration_two {
    position: absolute;
    width: 150px;
    top: 60px;
    right: 45%;
}

.main-decoration_three {
    position: absolute;
    width: 80px;
    right: 25px;
    transform: rotate(-22deg);
}