@import "./../../../scss/color-styles";


.main-page-container {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(2, min-content);
    padding: 0 5%;
}

.main-decoration {
    position: absolute;
    top: 55%;
    right: 45%;
}

.main-decoration_two {
    position: absolute;
    width: 130px;
    top: 60px;
    right: 40%;
}

.main-decoration_three {
    position: absolute;
    width: 80px;
    bottom: 35px;
    right: 25px;
    transform: rotate(-22deg);
}

.main-phone-container {
    grid-area: 1/2/3/2;
}

.main-info-container {
    align-self: flex-end;
    margin-bottom: 15px;
}

@media screen and (max-width: 1450px) {
    .main-decoration_two {
        right: 45%;
    }
}

@media screen and (max-width: 1300px) {

    .main-decoration_two {
        width: 110px;
        right: 40%;
    }

    .main-decoration {
        right: 40%;
    }
}

@media screen and (max-width: 1100px) {

    .main-page-container {
        padding: 0 1%;
    }

    .main-decoration_two {
        display: none;
    }

    .main-decoration {
        display: none;
    }

    .main-decoration_three {
        display: none;
    }
}


@media screen and (max-width: 900px) {
    .main-phone-container {
        transform: scale(.8);
        height: 440px;
        width: 330px;
    }

    .main-page-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {

    .main-phone-container {
        margin-bottom: 45px;
    }

    .main-page-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
    }

    .main-phone-container {
        grid-area: 2/1/3/1;
        justify-self: center;
    }

    .main-search-container {
        justify-self: center;
    }

    .main-info-container {
        justify-self: center;
    }
}