@import "./../../../scss/color-styles";

.slider-container {
    overflow: hidden;
    top: 70px;
    right: 90px;
    height: 560px;
    position: absolute;

}


.img-main {
    width: 450px;
}

.main-decoration {
    position: absolute;
    top: 55%;
    right: 45%;
}

.main-decoration_two {
    position: absolute;
    width: 150px;
    top: 60px;
    right: 45%;
}

.main-decoration_three {
    position: absolute;
    width: 80px;
    right: 25px;
    transform: rotate(-22deg);
}