<div class="main-page-container">
    <app-main-info class="main-info-container"></app-main-info>
    <app-search-city class="main-search-container" [type]="true"></app-search-city>
    <app-phone-main class="main-phone-container"></app-phone-main>
</div>
<img class="main-decoration" src="assets/mainImg.png" alt="main-decoration">
<img class="main-decoration_two" src="assets/mainImgTwo.png" alt="main-decoration">
<img class="main-decoration_three" src="assets/mainImgThree.png" alt="main-decoration">