@import "./color-styles";

@mixin font-default {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: $color-font-blue-dark;
}

@mixin title-large {
    @include font-default;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
}

@mixin title-Xlarge {
    @include font-default;
    font-size: 48px;
    line-height: 65px;
    font-weight: 700;
}

@mixin title-Xsmall {
    @include font-default;
    font-size: 12px;
    line-height: 12px;
}

@mixin title-Xmedium {
    @include font-default;
    font-size: 36px;
    line-height: 65px;
    font-weight: 900;
}

@mixin title-medium {
    @include font-default;
    font-size: 14px;
    line-height: 12px;
    font-weight: 500;
}