@mixin font-default {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin title-large {
    @include font-default;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
}

@mixin title-Xsmall {
    @include font-default;
    font-size: 12px;
    line-height: 12px;
}